<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>demoservlet</display-name>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
  
    <!-- Servlet Mapping -->
    <servlet>
        <servlet-name>loginProcess</servlet-name>
        <servlet-class>com.controller.loginProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginProcess</servlet-name>
        <url-pattern>/loginProcess</url-pattern>
    </servlet-mapping>
 
    <!-- Servlet Mapping -->
  
    
    
    <!-- Set session timeout-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
