body {
	font-family: Lato
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
	font-family: Montserrat
}

#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: 700;
	font-family: 'Montserrat';
	background-color: #2c3e50 !important;
}

#mainNav .navbar-brand {
	color: #fff;
}

#mainNav .navbar-nav {
	margin-top: 1rem;
	letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
	color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
	color: #18BC9C;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus
	{
	color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
	color: #18BC9C;
}

#mainNav .navbar-toggler {
	font-size: 80%;
	padding: 0.8rem;
}

@media ( min-width : 992px) {
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
	}
	#mainNav .navbar-brand {
		font-size: 2em;
		-webkit-transition: font-size 0.3s;
		transition: font-size 0.3s;
	}
	#mainNav .navbar-nav {
		margin-top: 0;
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
		color: #fff;
		background: #18BC9C;
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
		#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
		color: #fff;
		background: #18BC9C;
	}
	#mainNav.navbar-shrink {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}

header.masthead {
	padding-top: calc(6rem + 72px);
	padding-bottom: 6rem;
	background-color: #18bc9c !important;
}

header.masthead h1 {
	font-size: 3rem;
	line-height: 3rem;
	font-weight: bold;
}

header.masthead h2 {
	font-size: 1.3rem;
	font-family: 'Lato';
}

@media ( min-width : 992px) {
	header.masthead {
		padding-top: calc(6rem + 106px);
		padding-bottom: 6rem;
	}
	header.masthead h1 {
		font-size: 4.75em;
		line-height: 4rem;
	}
	header.masthead h2 {
		font-size: 1.75em;
	}
}

.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #2C3E50;
	color: #fff;
}

.copyright {
	background-color: #1a252f;
}

a {
	color: #18BC9C;
}

a:focus, a:hover, a:active {
	color: #128f76;
}

a.btn-social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-social {
	width: 3.25rem;
	height: 3.25rem;
	font-size: 1.25rem;
	line-height: 2rem;
}

.login-bg {
	height: 50rem;
	padding-top: 150px
}

#login-img {
	border: 5px solid #2e3436;
	border-radius: 50%;
}

#invalid {
	color: #cc0000;
	font-size: 1em;
}

.welcome-bg {
	height: 50rem;
	padding-top: 150px;
}

.welcome-inner {
	height: 90%;
}

.welcome-box {
	background-image: url("../img/welcome.jpg");
	background-position: center;
	background-size: cover;
	height: 100%
}

.divide-bar {
	border-top: 2px solid white;
}