body {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.index .index-profile-box {
  background-color: #DE6B48;
}

.index .index-counter-box {
  background-color: #F4B9B2;
}

.profile-box {
  background-color: #E5B181 !important;
}
