<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
</head>
<body>
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Location</h4>
					<p class="lead mb-0">
						Lau 1, P.01, B8, 79/1 Hoang Van Thai <br>Trung Tam TMTCQT Phu
						My Hung
					</p>
				</div>
				<div class="col-md-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Contact</h4>
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a
							class="btn btn-outline-light btn-social text-center rounded-circle"
							href="https://www.facebook.com/daihocfunix/"> <i
								class="fab fa-fw fa-facebook-f"></i>
						</a></li>
						<li class="list-inline-item"><a
							class="btn btn-outline-light btn-social text-center rounded-circle"
							href="https://www.funix.edu.vn/"> <i class="fab fa-fw fa-internet-explorer"></i>
						</a></li>
						<li class="list-inline-item"><a
							class="btn btn-outline-light btn-social text-center rounded-circle"
							href="https://www.youtube.com/channel/UCkxo65nH5wfg7z1XxQ_Hb3Q"> <i class="fab fa-fw fa-youtube"></i>
						</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4 class="text-uppercase mb-4">About FUNiX</h4>
					<p class="lead mb-0">
						FUNiX University is training bachelor about Information Technology.
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>